@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TestBackgroundThread.Models.Generated.HomePage1>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<h4>Title: @Model.Title</h4>
<h4>Name : @Model.Name</h4>